$grey: #A1A1A1;

@font-face{
    font-family: 'Gotham';
    src: url(../fonts/gotham-book-regular.otf);
    font-weight: normal;
    font-style: normal; }
@font-face{
    font-family: 'Gotham Italic';
    src: url(../fonts/gotham-book-italic.otf);
    font-weight: normal;
    font-style: italic; }
@font-face{
    font-family: 'Gotham Bold';
    src: url(../fonts/gotham-bold.otf);
    font-weight: bold;
    font-style: normal; }

*{
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Gotham', 'Verdana', 'sans serif';
}

body{
    font-size: 14px;
    overflow-x: hidden;
}

a{
    color: inherit;
    text-decoration: none;
}

h1{
    font-size: 1.7rem;
}

h2{
    font-size: 2rem;
}

p{
    line-height: 1.4em;
}

.project-icon{
    border: 2px solid #000;
    border-radius: 50%;
    padding: 0.15em 0.13em;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
    text-transform: uppercase;
    .logo{
        img{
            width: 42px;
        }
    }
}

.icon-link{
    display: inline-flex;
    align-items: center;
    font-family: 'Gotham Bold';
    margin-bottom: 1rem;
    i{
        margin-right: 0.7rem;
    }
}

.main-content{
    margin: 2em 1em 1em;
    h1{
        margin: 2em 0;
        font-size: 1.3rem;
        font-weight: normal;
        width: 80%;
    }
    .projects{
        margin: 4em 2em 2em;
        .project-block{
            margin-bottom: 5em;
            .project-img-container{
                text-align: center;
                img{
                    max-height: 70vh;
                    max-width: 100%;
                    margin-bottom: 1.7em;
                }
            }
            .project-text{
                .project-title{
                    font-family: 'Gotham Bold';
                    margin-bottom: 1em;
                    text-transform: uppercase;
                }
                .invisible{
                    display: none;
                }
                .project-text-details{
                    .date-container{
                        align-items: center;
                        display: flex;
                        margin-bottom: 1em;
                        .date-hr{
                           flex: 1;
                           border: 0.05em solid $grey;
                        }
                        .date{
                            color: $grey;
                            margin: 0 0 0 0.5em;
                        }
                    }
                    .project-type{
                        color: $grey;
                        display: block;
                        font-family: 'Gotham Bold';
                        margin-bottom: 1em;
                        text-transform: uppercase;
                    }
                    p{
                        margin-bottom: 1.2em;
                    }
                    .icon-link{
                        .globe{
                            font-size: 1.3rem;
                        }
                    }
                }
            }
        }
        .project-block:last-of-type{
            margin-bottom: 0;
        }
    }
}

.project-main-content{
    margin: 2em 2em 4em;
    .images{
        display: flex;
            flex-wrap: wrap;
        margin-bottom: 2em;
        .img-container{
            text-align: center;
            width: 100%;
            img{
                align-self: center;
                display: block;
                margin: 0 auto 0.4em;
                max-height: 70vh;
                max-width: 50%;
            }
        }
        .img-container:nth-child(2){
            max-width: 55%;
            img{
                margin-right: 0.4em;
                max-width: 100%;
            }
        }
        .img-container:nth-child(3){
            max-width: 45%;
            img{
                margin-left: 0.4em;
                max-width: 100%;
            }
        }
    }
    .text{
        .text-wrapper{
            h1{
                font-family: 'Gotham Bold';
                margin-bottom: 0.5em;
                text-transform: uppercase;
            }
            .date-container{
                align-items: center;
                color: $grey;
                display: flex;
                    align-items: center;
                margin-bottom: 0.5em;
                .date{
                    margin-right: 0.3em;
                }
                .date-line{
                    border: 0.05em solid $grey;
                    width: 1.5em;
                }
            }
            .project-type{
                color: $grey;
                font-family: 'Gotham Bold';
                margin-bottom: 1em;
                text-transform: uppercase;
            }
            .description{
                margin-bottom: 1.7em;
            }
            .icon-link{
                display: block;
                margin-bottom: 1em;
                i{
                    font-size: 1.4em;
                }
            }
        }
    }
}

.about-navigation{
    background-color: #E8C3E4;
    background-color: #F6D6FF;
    background-color: rgb(239,217,233);
    margin: 0;
    padding: 1em 1em 15vh;
}

.about-main-content{
    margin: 0 auto;
    width: 90%;
    .about-header{
        align-items: center;
        display: flex;
        transform: translateY(-50%);
        .profile-photo-container{
            background-size: contain;
            border-radius: 50%;
            height: 30vw;
            margin-right: 1em;
            width: 30vw;
            max-height: 270px;
            max-width: 270px;
            img{
                border-radius: 50%;
                height: 100%;
                object-fit: cover;
                width: 100%;
            }
        }
        h1{
            font-size: 2.3em;
            font-family: 'Gotham Bold';
            transform: translateY(20%);
        }
    }
    .bio{
        margin: -1.5em auto;
        width: 90%;
        p{
            margin-bottom: 1em;
        }
    }
    .contact-links{
        
    }
}

.main-info{
  
}

.medium-p{
  font-family: gothamThin;
  font-size: 0.8em;
  line-height: 1.5em;
  margin: 1em 0;
}

.text-small{
  font-size: 0.7em;
}

.contact-links{
  display: flex;
    justify-content: space-around;
  font-size: 1.3em;
  margin: 2.5em auto 1.5em auto;
  width: 40%;
}

.contact-links a:link, .contact-links a:visited{
  color: #777777;
}

.contact-links a:hover, .contact-links a:active{
  color: #999999;
  transition: color 0.5s;
}

.footer{
    color: #D2B4D1;
    padding: 0 1em 2em;
    text-align: center;
}

@media only screen and (min-width: 450px){
    .main-content{
        h1{
            font-size: 1.8em;
        }
        .projects{
            max-width: 300px;
            margin: 4em auto;
        }
    }
}

@media only screen and (min-width: 768px){
    
    body{
        font-size: 16px;
    }
    
    h2{
        font-size: 3rem;
    }
    
    .navigation{
        margin: 2em;
        .logo{
            img{
                width: 50px;
            }
        }
    }
    
    .main-content{
        margin: 4em 2em 2em;
        h1{
            font-size: 2em;
            margin: 2em 0;
            max-width: 60%;
        }
        .projects{
            margin: 7em 1em;
            max-width: none;
            .project-block{
                display: flex;
                margin-bottom: 10em;
                .project-img-container{
                    img{
                        max-height: 75vh;
                        max-width: 50vw;
                        margin-bottom: 0;
                    }
                }
                .project-text{
                    padding-top: 5%;
                    max-width: 350px;
                    .project-title{
                        display: inline-block;
                        margin-bottom: 3em;
                        width: 130%;
                    }
                    .project-details{
                        .icon-link{
                            .globe{
                                font-size: 1.5rem;
                            }
                        }
                    }
                }
            }
            .project-block::after{
                content: "";
                clear: both;
                display: table;
            }
            .project-block:nth-child(odd){
                .project-img-container{
                    margin-right: 2em;
                    text-align: left;
                }
                .project-text{
                    .project-title{
                        transform: translateX(-30%);
                    }
                }
            }
            .project-block:nth-child(even){
                flex-direction: row-reverse;
                .project-img-container{
                    margin-left: 2em;
                    text-align: right;
                }
                .project-text{
                    text-align: right;
                    .project-text-details{
                        text-align: left;
                        .date-container{
                            flex-direction: row-reverse;
                            .date{
                                margin: 0 0.5em 0 0;
                            }
                        }
                    }
                }
            }
        }
    }
    
    .project-main-content{
        margin: 2em auto 4em;
        width: 70%;
        .images{
            margin: 0 auto 2em;
            .img-container{
                img{
                    max-height: 30vh;
                    max-width: 55%;
                }
            }
            .img-container:nth-child(2){
                max-width: 55%;
                img{
                    margin-right: 0.4em;
                    max-width: 100%;
                }
            }
            .img-container:nth-child(3){
                max-width: 45%;
                img{
                    margin-left: 0.4em;
                    max-width: 100%;
                }
            }
        }
    }
    
    .footer{
        text-align: right;
    }
}

@media only screen and (min-width: 1024px){
    
    h2{
        font-size: 3.5rem;
    }
    
    .main-content{
        h1{
            margin: 0;
            max-width: 40%;
        }
    }
    
}

@media only screen and (min-width: 1200px){
    .project-main-content{
        display: flex;
        margin: 0 auto;
        width: 90%;
        .images{
            flex: 50%;
            margin-bottom: 0;
            .img-container{
                img{
                    max-height: 42vh;
                }
            }
            .img-container:nth-child(2){
                max-width: 50%;
            }
            .img-container:nth-child(3){
                max-width: 50%;
            }
        }
        .text{
            flex: 50%;
            .text-wrapper{
                max-width: 70%;
                h1{
                    font-size: 4em;
                    margin-top: 0.5em;
                }
                .project-type{
                    margin-bottom: 1.5em;
                }
            }
        }
    }
    .footer{
        padding: 0 3em 3em;
    }
}

@media only screen and (min-width: 1400px){
    
    h2{
        font-size: 5rem;
    }
    
    .main-content{
        h1{
            font-size: 2.2em;
            max-width: 35%;
        }
        .projects{
            margin: 0 2em;
            .project-block{
                margin-bottom: 15em;
                .project-img-container{
                    position: relative;
                    z-index: 1;
                }
                .project-text{
                    position: relative;
                    .project-title{
                        position: relative;
                        z-index: 2;
                    }
                    .project-text-details{
                        opacity: 0;
                        transition: 0.5s;
                    }
                }
            }
            .project-block:nth-child(odd){
                .project-img-container{
                    margin-right: 0;
                    text-align: left;
                }
                .project-text{
                    .project-title{
                        transform: translateX(0);
                    }
                }
            }
            .project-block:nth-child(even){
                flex-direction: row;
                .project-img-container{
                    margin-left: 0;
                    margin-right: 0;
                    text-align: left;
                }
                .project-text{
                    text-align: left;
                    .project-title{
                        transform: translateX(0);
                    }
                    .project-text-details{
                        .date-container{
                            flex-direction: row;
                            .date{
                                margin: 0 0 0 0.5em;
                            }
                        }
                    }
                }
            }
            .project-block:nth-child(3n+1){
                justify-content: center;
                margin: 0 auto 10em;
                .project-img-container{
                    padding-right: 2em;
                    transform: translateX(50%);
                    text-align: center;
                }
                .project-text{
                    .project-title{
                        transform: translateX(calc(30% + 2em));
                    }
                    .project-text-details{
                        transform: translateX(-40%);
                    }
                }
            }
            .project-block:nth-child(3n+2){
                .project-img-container{
                    padding-right: 2em;
                }
                .project-text{
                    .project-title{
                        transform: translateX(-30%);
                    }
                    .project-text-details{
                        transform: translateX(-100%);
                    }
                }
            }
            .project-block:nth-child(3n){
                flex-direction: row-reverse;
                .project-img-container{
                    padding-left: 2em;
                    text-align: right;
                }
                .project-text{
                    .project-title{
                        transform: translateX(30%);
                    }
                    .project-text-details{
                        transform: translateX(100%);
                        .date-container{
                            flex-direction: row-reverse;
                            .date{
                                margin: 0 0.5em 0 0;
                            }
                        }
                    }
                }
            }
            .project-block-on:nth-child(1n){
                .project-text{
                    .project-text-details{
                        opacity: 1;
                        transform: translateX(0);
                    }
                }
            }
            .project-block-on:nth-child(3n+1){
                .project-text{
                    .project-text-details{
                        transform: translateX(calc(60% + 2em));
                    }
                }                
            }
        }
    }
    
}