@font-face {
  font-family: 'Gotham';
  src: url(../fonts/gotham-book-regular.otf);
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Gotham Italic';
  src: url(../fonts/gotham-book-italic.otf);
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Gotham Bold';
  src: url(../fonts/gotham-bold.otf);
  font-weight: bold;
  font-style: normal; }
* {
  margin: 0;
  padding: 0; }

html {
  font-family: 'Gotham', 'Verdana', 'sans serif'; }

body {
  font-size: 14px;
  overflow-x: hidden; }

a {
  color: inherit;
  text-decoration: none; }

h1 {
  font-size: 1.7rem; }

h2 {
  font-size: 2rem; }

p {
  line-height: 1.4em; }

.project-icon {
  border: 2px solid #000;
  border-radius: 50%;
  padding: 0.15em 0.13em; }

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  text-transform: uppercase;
  z-index: 10; }
  .navigation .logo img {
    width: 42px; }

.navigation-no-sticky {
  position: static; }

.about-navigation {
  background-color: #F6D6FF;
  background-color: #efd9e9;
  margin: 0;
  padding: 1em 1em 15vh;
  position: static; }

@keyframes spin-animation {
  from {
    transform: rotateY(0deg); }
  to {
    transform: rotateY(360deg); } }
.icon-link {
  display: inline-flex;
  align-items: center;
  font-family: 'Gotham Bold';
  margin-bottom: 1rem; }
  .icon-link i {
    margin-right: 0.7rem;
    transform-style: preserve-3d; }
  .icon-link .icon-link-icon-spin {
    animation: spin-animation 0.8s ease-in-out; }

.scroll-message {
  display: none; }

.main-content {
  margin: 4em 1em 1em; }
  .main-content h1 {
    margin: 2em 0;
    font-size: 1.3rem;
    font-weight: normal;
    width: 80%; }
  .main-content .projects {
    margin: 4em 2em 2em; }
    .main-content .projects .project-block {
      margin-bottom: 5em; }
      .main-content .projects .project-block .project-img-container {
        text-align: center; }
        .main-content .projects .project-block .project-img-container img {
          max-height: 70vh;
          max-width: 100%;
          margin-bottom: 1.7em; }
      .main-content .projects .project-block .project-text .project-title {
        font-family: 'Gotham Bold';
        margin-bottom: 1em;
        text-transform: uppercase; }
      .main-content .projects .project-block .project-text .project-text-details .date-container {
        align-items: center;
        display: flex;
        margin-bottom: 1em; }
        .main-content .projects .project-block .project-text .project-text-details .date-container .date-hr {
          flex: 1;
          border: 0.05em solid #A1A1A1; }
        .main-content .projects .project-block .project-text .project-text-details .date-container .date {
          color: #A1A1A1;
          margin: 0 0 0 0.5em; }
      .main-content .projects .project-block .project-text .project-text-details .project-type {
        color: #A1A1A1;
        display: block;
        font-family: 'Gotham Bold';
        margin-bottom: 1em;
        text-transform: uppercase; }
      .main-content .projects .project-block .project-text .project-text-details p {
        margin-bottom: 1.2em; }
      .main-content .projects .project-block .project-text .project-text-details .icon-link .globe {
        font-size: 1.3rem; }
    .main-content .projects .project-block:last-of-type {
      margin-bottom: 0; }

.project-main-content {
  margin: 2em 2em 4em; }
  .project-main-content .images {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2em; }
    .project-main-content .images .img-container {
      cursor: pointer;
      text-align: center;
      width: 100%; }
      .project-main-content .images .img-container img {
        align-self: center;
        display: block;
        margin: 0 auto 0.4em;
        max-height: 70vh;
        max-width: 50%; }
    .project-main-content .images .img-container:nth-child(2) {
      max-width: 55%; }
      .project-main-content .images .img-container:nth-child(2) img {
        margin-right: 0.4em;
        max-width: 100%; }
    .project-main-content .images .img-container:nth-child(3) {
      max-width: 45%; }
      .project-main-content .images .img-container:nth-child(3) img {
        margin-left: 0.4em;
        max-width: 100%; }
  .project-main-content .text .text-wrapper h1 {
    font-family: 'Gotham Bold';
    margin-bottom: 0.5em;
    text-transform: uppercase; }
  .project-main-content .text .text-wrapper .date-container {
    align-items: center;
    color: #A1A1A1;
    display: flex;
    align-items: center;
    margin-bottom: 0.5em; }
    .project-main-content .text .text-wrapper .date-container .date {
      margin-right: 0.3em; }
    .project-main-content .text .text-wrapper .date-container .date-line {
      border: 0.05em solid #A1A1A1;
      width: 1.5em; }
  .project-main-content .text .text-wrapper .project-type {
    color: #A1A1A1;
    font-family: 'Gotham Bold';
    margin-bottom: 1em;
    text-transform: uppercase; }
  .project-main-content .text .text-wrapper .description {
    margin-bottom: 1.5em; }
    .project-main-content .text .text-wrapper .description p {
      margin-bottom: 0.7em; }
  .project-main-content .text .text-wrapper .icon-link {
    display: block;
    margin-bottom: 1em; }
    .project-main-content .text .text-wrapper .icon-link i {
      font-size: 1.4em; }

.drop-shadow {
  background-color: white;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.close-icon {
  cursor: pointer;
  position: absolute;
  top: 3vw;
  right: 3vw; }

.close-icon img {
  width: 16px; }

.image-modal {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  text-align: center;
  width: 90%;
  margin: auto; }

_:-ms-lang(x), .image-modal {
  display: block; }

_:-ms-lang(x), .chevron {
  position: fixed; }

_:-ms-lang(x), .chevron-left {
  left: 5%;
  top: 50%;
  transform: translateY(-50%); }

_:-ms-lang(x), .chevron-right {
  right: 5%;
  top: 50%;
  transform: translateY(-50%); }

.image-modal img {
  max-height: 90%;
  max-width: 90%; }

_:-ms-lang(x), .image-modal img {
  max-height: 90vh;
  max-width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.image-modal .chevron {
  display: block;
  cursor: pointer; }

.image-modal img.chevron {
  max-height: none;
  max-width: none;
  width: 15px; }

.about-main-content {
  margin: 0 auto;
  width: 90%; }
  .about-main-content .about-header {
    align-items: center;
    display: flex;
    transform: translateY(-50%); }
    .about-main-content .about-header .profile-photo-container {
      background-size: contain;
      border-radius: 50%;
      height: 30vw;
      margin-right: 1em;
      width: 30vw;
      max-height: 270px;
      max-width: 270px; }
      .about-main-content .about-header .profile-photo-container img {
        border-radius: 50%;
        height: 100%;
        object-fit: cover;
        width: 100%; }
    .about-main-content .about-header h1 {
      font-size: 2.4em;
      font-family: 'Gotham Bold';
      transform: translateY(20%); }
  .about-main-content .bio {
    margin: 0 auto;
    width: 90%; }
    .about-main-content .bio p {
      margin-bottom: 1em; }

.medium-p {
  font-family: gothamThin;
  font-size: 0.8em;
  line-height: 1.5em;
  margin: 1em 0; }

.text-small {
  font-size: 0.7em; }

.contact-links {
  display: flex;
  justify-content: space-around;
  font-size: 1.3em;
  margin: 2.5em auto 1.5em auto;
  width: 40%; }
  .contact-links .contact-link {
    color: #A1A1A1;
    transition: 0.8s; }

.footer {
  color: #D2B4D1;
  padding: 0 1em 2em;
  text-align: center; }

@media only screen and (min-width: 450px) {
  .main-content h1 {
    font-size: 1.8em; }
  .main-content .projects {
    max-width: 300px;
    margin: 4em auto; } }
@media only screen and (min-width: 768px) {
  body {
    font-size: 16px; }

  h2 {
    font-size: 3rem; }

  .navigation {
    margin: 2em; }
    .navigation .logo img {
      width: 50px; }

  .about-navigation {
    margin: 0;
    padding: 2em 2em 15vh; }

  .main-content {
    margin: 6em 2em 2em; }
    .main-content h1 {
      font-size: 2em;
      margin: 2em 0;
      max-width: 60%; }
    .main-content .projects {
      margin: 7em 1em;
      max-width: none; }
      .main-content .projects .project-block {
        display: flex;
        margin-bottom: 10em; }
        .main-content .projects .project-block .project-img-container img {
          max-height: 75vh;
          max-width: 50vw;
          margin-bottom: 0; }
        .main-content .projects .project-block .project-text {
          padding-top: 5%;
          max-width: 350px; }
          .main-content .projects .project-block .project-text .project-title {
            display: inline-block;
            margin-bottom: 3em;
            width: 130%; }
          .main-content .projects .project-block .project-text .project-details .icon-link .globe {
            font-size: 1.5rem; }
      .main-content .projects .project-block::after {
        content: "";
        clear: both;
        display: table; }
      .main-content .projects .project-block:nth-child(odd) .project-img-container {
        margin-right: 2em;
        text-align: left; }
      .main-content .projects .project-block:nth-child(odd) .project-text .project-title {
        transform: translateX(-30%); }
      .main-content .projects .project-block:nth-child(even) {
        flex-direction: row-reverse; }
        .main-content .projects .project-block:nth-child(even) .project-img-container {
          margin-left: 2em;
          text-align: right; }
        .main-content .projects .project-block:nth-child(even) .project-text {
          text-align: right; }
          .main-content .projects .project-block:nth-child(even) .project-text .project-text-details {
            text-align: left; }
            .main-content .projects .project-block:nth-child(even) .project-text .project-text-details .date-container {
              flex-direction: row-reverse; }
              .main-content .projects .project-block:nth-child(even) .project-text .project-text-details .date-container .date {
                margin: 0 0.5em 0 0; }

  .project-main-content {
    margin: 2em auto 4em;
    width: 70%; }
    .project-main-content .images {
      margin: 0 auto 2em; }
      .project-main-content .images .img-container img {
        max-height: 30vh;
        max-width: 55%; }
      .project-main-content .images .img-container:nth-child(2) {
        max-width: 55%; }
        .project-main-content .images .img-container:nth-child(2) img {
          margin-right: 0.4em;
          max-width: 100%; }
      .project-main-content .images .img-container:nth-child(3) {
        max-width: 45%; }
        .project-main-content .images .img-container:nth-child(3) img {
          margin-left: 0.4em;
          max-width: 100%; }

  .about-main-content {
    width: 80%; }
    .about-main-content .about-header .profile-photo-container {
      height: 22vw;
      width: 22vw; }
    .about-main-content .about-header h1 {
      font-size: 3.5em; }
    .about-main-content .contact-links {
      width: 30%; }

  .footer {
    text-align: right; } }
@media only screen and (min-width: 1024px) {
  h2 {
    font-size: 3.5rem; }

  .main-content h1 {
    margin: 0;
    max-width: 40%; }

  .image-modal img {
    max-height: 60vw;
    max-width: 80%; }

  _:-ms-lang(x), .image-modal img {
    max-height: 90vh;
    max-width: 80%; }

  .image-modal img.chevron {
    width: 36px;
    padding: 0.5em; }

  .close-icon img {
    width: 25px; } }
@media only screen and (min-width: 1200px) {
  .about-navigation {
    padding: 2em 2em 20vh; }

  .project-main-content {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 90%; }
    .project-main-content .images {
      flex: 50%;
      margin-bottom: 0; }
      .project-main-content .images .img-container img {
        max-height: 42vh; }
      .project-main-content .images .img-container:nth-child(2) {
        max-width: 50%; }
      .project-main-content .images .img-container:nth-child(3) {
        max-width: 50%; }
    .project-main-content .text {
      flex: 50%; }
      .project-main-content .text .text-wrapper {
        max-width: 90%; }
        .project-main-content .text .text-wrapper h1 {
          font-size: 4em; }
        .project-main-content .text .text-wrapper .project-type {
          margin-bottom: 1.5em; }
        .project-main-content .text .text-wrapper .description {
          font-size: 0.9em; }

  .about-main-content {
    width: 60%; }
    .about-main-content .about-header .profile-photo-container {
      height: 13vw;
      margin-right: 2.5em;
      width: 13vw; }
    .about-main-content .about-header h1 {
      font-size: 4.3em; }
    .about-main-content .bio {
      margin: -1.5em auto; }
    .about-main-content .contact-links {
      font-size: 1.7em;
      margin: 2.5em auto;
      width: 15%; }
      .about-main-content .contact-links a {
        margin-right: 1em; }

  .footer {
    padding: 0 3em 3em; } }
@media only screen and (min-width: 1400px) {
  h2 {
    font-size: 5rem; }

  .scroll-message {
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    position: fixed;
    bottom: 3em;
    left: 3em;
    opacity: 0;
    transition: 0.7s;
    transform: translateY(-100%); }
    .scroll-message i {
      margin-left: 0.4em; }

  .main-content {
    margin: 8em 2em 2em; }
    .main-content h1 {
      font-size: 2.2em;
      max-width: 35%;
      position: absolute; }
    .main-content .projects {
      margin: 0 2em; }
      .main-content .projects .project-block {
        margin-bottom: 15em; }
        .main-content .projects .project-block .project-img-container {
          position: relative;
          z-index: 1; }
        .main-content .projects .project-block .project-text {
          position: relative; }
          .main-content .projects .project-block .project-text .project-title {
            position: relative;
            z-index: 2; }
          .main-content .projects .project-block .project-text .project-text-details {
            opacity: 0;
            transition: 0.5s; }
      .main-content .projects .project-block:nth-child(odd) .project-img-container {
        margin-right: 0;
        text-align: left; }
      .main-content .projects .project-block:nth-child(odd) .project-text .project-title {
        transform: translateX(0); }
      .main-content .projects .project-block:nth-child(even) {
        flex-direction: row; }
        .main-content .projects .project-block:nth-child(even) .project-img-container {
          margin-left: 0;
          margin-right: 0;
          text-align: left; }
        .main-content .projects .project-block:nth-child(even) .project-text {
          text-align: left; }
          .main-content .projects .project-block:nth-child(even) .project-text .project-title {
            transform: translateX(0); }
          .main-content .projects .project-block:nth-child(even) .project-text .project-text-details .date-container {
            flex-direction: row; }
            .main-content .projects .project-block:nth-child(even) .project-text .project-text-details .date-container .date {
              margin: 0 0 0 0.5em; }
      .main-content .projects .project-block:nth-child(3n+1) {
        justify-content: center;
        margin: 0 auto 10em; }
        .main-content .projects .project-block:nth-child(3n+1) .project-img-container {
          padding-right: 2em;
          transform: translateX(50%);
          text-align: center; }
        .main-content .projects .project-block:nth-child(3n+1) .project-text .project-title {
          transform: translateX(calc(30% + 2em)); }
        .main-content .projects .project-block:nth-child(3n+1) .project-text .project-text-details {
          transform: translateX(-40%); }
      .main-content .projects .project-block:nth-child(3n+2) .project-img-container {
        padding-right: 2em; }
      .main-content .projects .project-block:nth-child(3n+2) .project-text .project-title {
        transform: translateX(-30%); }
      .main-content .projects .project-block:nth-child(3n+2) .project-text .project-text-details {
        transform: translateX(-100%); }
      .main-content .projects .project-block:nth-child(3n) {
        flex-direction: row-reverse; }
        .main-content .projects .project-block:nth-child(3n) .project-img-container {
          padding-left: 2em;
          text-align: right; }
        .main-content .projects .project-block:nth-child(3n) .project-text .project-title {
          transform: translateX(30%); }
        .main-content .projects .project-block:nth-child(3n) .project-text .project-text-details {
          transform: translateX(100%); }
          .main-content .projects .project-block:nth-child(3n) .project-text .project-text-details .date-container {
            flex-direction: row-reverse; }
            .main-content .projects .project-block:nth-child(3n) .project-text .project-text-details .date-container .date {
              margin: 0 0.5em 0 0; }
      .main-content .projects .project-block-on:nth-child(1n) .project-text .project-text-details {
        opacity: 1;
        transform: translateX(0); }
      .main-content .projects .project-block-on:nth-child(3n+1) .project-text .project-text-details {
        transform: translateX(calc(60% + 2em)); } }

/*# sourceMappingURL=style.css.map */
