@font-face {
  font-family: 'Gotham';
  src: url(../fonts/gotham-book-regular.otf);
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Gotham Italic';
  src: url(../fonts/gotham-book-italic.otf);
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Gotham Bold';
  src: url(../fonts/gotham-bold.otf);
  font-weight: bold;
  font-style: normal; }
* {
  margin: 0;
  padding: 0; }

html {
  font-family: 'Gotham', 'Verdana', 'sans serif'; }

body {
  font-size: 14px;
  overflow-x: hidden; }

a {
  color: inherit;
  text-decoration: none; }

h1 {
  font-size: 1.7rem; }

h2 {
  font-size: 2rem; }

.project-icon {
  border: 2px solid #000;
  border-radius: 50%;
  padding: 0.15em 0.13em; }

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em;
  text-transform: uppercase; }
  .navigation .logo img {
    width: 42px; }

.main-content {
  margin: 2em 1em 1em; }
  .main-content h1 {
    margin: 2em 0;
    font-size: 1.3rem;
    font-weight: normal;
    width: 80%; }
  .main-content .projects {
    margin: 4em 2em; }
    .main-content .projects .project-block {
      margin-bottom: 7em; }
      .main-content .projects .project-block .project-img-container {
        text-align: center; }
        .main-content .projects .project-block .project-img-container img {
          max-height: 70vh;
          max-width: 100%;
          margin-bottom: 1.7em; }
      .main-content .projects .project-block .project-text .project-title {
        font-family: 'Gotham Bold';
        margin-bottom: 1em;
        text-transform: uppercase; }
      .main-content .projects .project-block .project-text .invisible {
        display: none; }
      .main-content .projects .project-block .project-text .project-text-details .date-container {
        align-items: center;
        display: flex;
        margin-bottom: 1em; }
        .main-content .projects .project-block .project-text .project-text-details .date-container .date-hr {
          flex: 1;
          border: 0.05em solid #A1A1A1; }
        .main-content .projects .project-block .project-text .project-text-details .date-container .date {
          color: #A1A1A1;
          margin: 0 0 0 0.5em; }
      .main-content .projects .project-block .project-text .project-text-details .project-type {
        color: #A1A1A1;
        display: block;
        font-family: 'Gotham Bold';
        margin-bottom: 1em;
        text-transform: uppercase; }
      .main-content .projects .project-block .project-text .project-text-details p {
        margin-bottom: 1.2em; }
      .main-content .projects .project-block .project-text .project-text-details .view-more-link {
        display: inline-flex;
        align-items: center;
        font-family: 'Gotham Bold';
        margin-bottom: 1rem; }
        .main-content .projects .project-block .project-text .project-text-details .view-more-link i {
          margin-right: 0.7rem; }
        .main-content .projects .project-block .project-text .project-text-details .view-more-link .globe {
          font-size: 1.3rem; }
    .main-content .projects .project-block:last-of-type {
      margin-bottom: 0; }

@media only screen and (min-width: 450px) {
  .main-content h1 {
    font-size: 1.8em; }
  .main-content .projects {
    max-width: 300px;
    margin: 4em auto; } }
@media only screen and (min-width: 768px) {
  body {
    font-size: 16px; }

  h2 {
    font-size: 3rem; }

  .navigation {
    margin: 2em; }
    .navigation .logo img {
      width: 50px; }

  .main-content {
    margin: 4em 2em 2em; }
    .main-content h1 {
      font-size: 2em;
      margin: 2em 0;
      max-width: 60%; }
    .main-content .projects {
      margin: 7em 1em;
      max-width: none; }
      .main-content .projects .project-block {
        display: flex;
        margin-bottom: 10em; }
        .main-content .projects .project-block .project-img-container img {
          max-height: 80vh;
          max-width: 50vw;
          margin-bottom: 0; }
        .main-content .projects .project-block .project-text {
          padding-top: 5%;
          max-width: 350px; }
          .main-content .projects .project-block .project-text .project-title {
            display: inline-block;
            margin-bottom: 3em;
            width: 130%; }
          .main-content .projects .project-block .project-text .invisible {
            background-color: rgba(255, 0, 255, 0.2);
            display: none;
            pointer-events: none;
            position: relative;
            opacity: 0;
            transform: translateX(0); }
          .main-content .projects .project-block .project-text .project-text-details .view-more-link .globe {
            font-size: 1.5rem; }
      .main-content .projects .project-block::after {
        content: "";
        clear: both;
        display: table; }
      .main-content .projects .project-block:nth-child(odd) .project-img-container {
        margin-right: 2em;
        text-align: left; }
      .main-content .projects .project-block:nth-child(odd) .project-text .project-title {
        transform: translateX(-30%); }
      .main-content .projects .project-block:nth-child(even) {
        flex-direction: row-reverse; }
        .main-content .projects .project-block:nth-child(even) .project-img-container {
          margin-left: 2em;
          text-align: right; }
        .main-content .projects .project-block:nth-child(even) .project-text {
          text-align: right; }
          .main-content .projects .project-block:nth-child(even) .project-text .project-text-details {
            text-align: left; }
            .main-content .projects .project-block:nth-child(even) .project-text .project-text-details .date-container {
              flex-direction: row-reverse; }
              .main-content .projects .project-block:nth-child(even) .project-text .project-text-details .date-container .date {
                margin: 0 0.5em 0 0; } }
@media only screen and (min-width: 1024px) {
  h2 {
    font-size: 3.5rem; }

  .main-content h1 {
    max-width: 40%; } }
@media only screen and (min-width: 1400px) {
  h2 {
    font-size: 5rem; }

  .main-content h1 {
    font-size: 2.2em;
    max-width: 35%; }
  .main-content .projects {
    margin: 0 2em; }
    .main-content .projects .project-block {
      margin-bottom: 15em; }
      .main-content .projects .project-block .project-img-container {
        position: relative;
        z-index: 1; }
      .main-content .projects .project-block .project-text {
        position: relative; }
        .main-content .projects .project-block .project-text .project-title {
          position: relative;
          z-index: 2; }
        .main-content .projects .project-block .project-text .project-text-details {
          opacity: 0;
          transition: 0.5s; }
    .main-content .projects .project-block:nth-child(odd) .project-img-container {
      margin-right: 2em;
      text-align: left; }
    .main-content .projects .project-block:nth-child(odd) .project-text .project-title {
      transform: translateX(0); }
    .main-content .projects .project-block:nth-child(even) {
      flex-direction: row; }
      .main-content .projects .project-block:nth-child(even) .project-img-container {
        margin-left: 0;
        margin-right: 2em;
        text-align: left; }
      .main-content .projects .project-block:nth-child(even) .project-text {
        text-align: left; }
        .main-content .projects .project-block:nth-child(even) .project-text .project-title {
          transform: translateX(0); }
        .main-content .projects .project-block:nth-child(even) .project-text .project-text-details .date-container {
          flex-direction: row; }
          .main-content .projects .project-block:nth-child(even) .project-text .project-text-details .date-container .date {
            margin: 0 0 0 0.5em; }
    .main-content .projects .project-block:nth-child(3n+1) {
      justify-content: center;
      margin: 0 auto 10em; }
      .main-content .projects .project-block:nth-child(3n+1) .project-img-container {
        transform: translateX(50%);
        text-align: center; }
      .main-content .projects .project-block:nth-child(3n+1) .project-text .project-title {
        transform: translateX(calc(30% + 2em)); }
      .main-content .projects .project-block:nth-child(3n+1) .project-text .project-text-details {
        transform: translateX(-40%); }
    .main-content .projects .project-block:nth-child(3n+2) .project-text .project-title {
      transform: translateX(-30%); }
    .main-content .projects .project-block:nth-child(3n+2) .project-text .project-text-details {
      transform: translateX(-100%); }
    .main-content .projects .project-block:nth-child(3n) {
      flex-direction: row-reverse; }
      .main-content .projects .project-block:nth-child(3n) .project-img-container {
        margin-left: 2em;
        text-align: right; }
      .main-content .projects .project-block:nth-child(3n) .project-text .project-title {
        transform: translateX(30%); }
      .main-content .projects .project-block:nth-child(3n) .project-text .project-text-details {
        transform: translateX(100%); }
        .main-content .projects .project-block:nth-child(3n) .project-text .project-text-details .date-container {
          flex-direction: row-reverse; }
          .main-content .projects .project-block:nth-child(3n) .project-text .project-text-details .date-container .date {
            margin: 0 0.5em 0 0; }
    .main-content .projects .project-block:hover .project-text .project-text-details {
      height: auto;
      opacity: 1;
      transform: translateX(0); }
    .main-content .projects .project-block:nth-child(3n+1):hover .project-text .project-text-details {
      transform: translateX(calc(60% + 2em)); } }

/*# sourceMappingURL=style.css.map */
